<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-success" href="/">Reactify Django</a>
    <a class="navbar-brand text-success" href="/react/">React</a>
    {% if user.is_authenticated %}
        <a class="navbar-brand text-success" href="/react/">{{ user.username }}</a>
        <a class="navbar-brand text-success" href="/logout/">Logout</a>
    {% endif %}
    <a class="navbar-brand text-success" href="/payment/">Payment</a>
    {% if user.is_staff %}
        <a class="navbar-brand text-success" href="/administrator/">Admin</a>
    {% endif %}
    <div id="nav"></div>
</nav>